<!doctype html>
<html lang="en" x-init :class="{ 'dark': $store.preference.theme.isDark }" x-cloak>

<head>
  <!-- Meta Tags -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='static/static_template_v3/css/tailwind.css') }}" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet" />
  <!-- <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Quicksand:wght@300..700&display=swap"
    rel="stylesheet" /> -->

  {% block custom_style %}
  {% endblock custom_style %}

  <!-- Scripts -->
  <script defer src="{{ url_for('static', filename='static/static_template_v3/js/app.js') }}"></script>

  <title>Simplicity | {{name}}</title>
</head>
{% block body %}
{% endblock body %}

<script>
  /* If browser back button was used, flush cache */
(function () {
	window.onpageshow = function(event) {
		if (event.persisted) {
      location.href = location.href
      location.replace(location.pathname)
      window.location = window.location
      window.self.window.self.window.window.location = window.location
		}
	};
})();
</script>
</body>

</html>