{% extends "base_template/base_merge_template_v3/base.html" %}
{% block content %}
<div class="min-h-screen">
    <ul class="flex flex-row gap-[4px]">
        <li class="text-[24px] font-normal leading-[32px] text-neutral-600 dark:text-[#99A3B6]">
            Application
        </li>
        
        <li class="mx-[7px] text-[18px] font-semibold leading-[28px] text-secondary-600 dark:text-[#99A3B6]">
            /
        </li>

        <li class="text-[24px] font-bold leading-[32px] text-primary-600 dark:text-secondary-600">
            Power AD Connection
        </li>
    </ul>
    <div>
        <p>Coming Soon..</p>
    </div>
</div>
{% endblock content %}