{% extends "base_template/base_merge_template_v3/base.html" %}
{% block content %}
<div class="min-h-screen">
    <div class="mb-[24px]">
        <ul class="flex flex-row gap-[4px]">
            <li class="text-[24px] font-normal leading-[32px] text-neutral-600 dark:text-[#99A3B6]">
                Application
            </li>

            <li class="mx-[7px] text-[18px] font-semibold leading-[28px] text-secondary-600 dark:text-[#99A3B6]">
                /
            </li>

            <li class="text-[24px] font-normal leading-[32px] text-neutral-600 dark:text-[#99A3B6]">
                Power AD Connection
            </li>

            <li class="mx-[7px] text-[18px] font-semibold leading-[28px] text-secondary-600 dark:text-[#99A3B6]">
                /
            </li>

            <li class="text-[24px] font-bold leading-[32px] text-primary-600 dark:text-secondary-600">
                Settings
            </li>
        </ul>
    </div>

    <div class="grid grid-cols-2 gap-[18px]">
        <div>
            <div class="rounded-[20px] border border-neutral-400 bg-white dark:border-neutral-700 dark:bg-neutral-800">
                <div class="flex flex-row items-center gap-2 px-[24px] py-[20px]">
                    <img :src="$store.preference.theme.isDark ? '{{ url_for('static', filename='static/static_template_v3/img/simplicity-icon-setting-inactive-3.png') }}' : '{{ url_for('static', filename='static/static_template_v3/img/simplicity-icon-setting-inactive.png') }}'"
                        width="18" height="18" alt="Users" />
                    <h1
                        class="rounded-t-[18px] text-[20px] font-medium leading-[30px] text-neutral-700 dark:border-neutral-700 dark:bg-transparent dark:text-white">
                        Setting & Manage Permissions Server
                    </h1>
                </div>
                <form class="space-y-[24px] p-[28px]" role="form" action="{{ url_for('powerad.change_settings') }}" method="post">
                    <div>
                        <label class="mb-[6px] block text-[14px] font-medium leading-[20px] dark:text-white" for="username">
                            Username
                        </label>

                        <div
                            class="flex items-center gap-[8px] rounded-[8px] border border-neutral-400 bg-white px-[14px] py-[8px] dark:border-neutral-700 dark:bg-neutral-900">
                            <div></div>
                            <input
                                class="flex-grow bg-transparent leading-[24px] text-neutral-900 outline-none placeholder:text-[#99A3B6] dark:text-white"
                                id="username" name="username" type="text" placeholder="" value="{{ data_server.username }}" />
                        </div>
                    </div>

                    <div>
                        <label class="mb-[6px] block text-[14px] font-medium leading-[20px] dark:text-white" for="password">
                            Password
                        </label>

                        <div
                            class="flex items-center gap-[8px] rounded-[8px] border border-neutral-400 bg-white px-[14px] py-[8px] dark:border-neutral-700 dark:bg-neutral-900">
                            <div></div>
                            <input
                                class="flex-grow bg-transparent leading-[24px] text-neutral-900 outline-none placeholder:text-[#99A3B6] dark:text-white"
                                id="password" name="password" type="password" placeholder="************" required />
                        </div>
                    </div>

                    <div>
                        <label class="mb-[6px] block text-[14px] font-medium leading-[20px] dark:text-white" for="server">
                            Server (ex. pt-bjp.co.id)
                        </label>

                        <div
                            class="flex items-center gap-[8px] rounded-[8px] border border-neutral-400 bg-white px-[14px] py-[8px] dark:border-neutral-700 dark:bg-neutral-900">
                            <div></div>
                            <input
                                class="flex-grow bg-transparent leading-[24px] text-neutral-900 outline-none placeholder:text-[#99A3B6] dark:text-white"
                                id="server" name="server" type="text" placeholder="" value="{{ data_server.server }}" />
                        </div>
                    </div>

                    <div>
                        <label class="mb-[6px] block text-[14px] font-medium leading-[20px] dark:text-white" for="adsi">
                            ADSI (ex. CN=Users)
                        </label>

                        <div
                            class="flex items-center gap-[8px] rounded-[8px] border border-neutral-400 bg-white px-[14px] py-[8px] dark:border-neutral-700 dark:bg-neutral-900">
                            <div></div>
                            <input
                                class="flex-grow bg-transparent leading-[24px] text-neutral-900 outline-none placeholder:text-[#99A3B6] dark:text-white"
                                id="adsi" name="adsi" type="text" placeholder="" value="{{ data_server.oubase }}" />
                        </div>
                    </div>

                    <button type="submit"
                        class="block w-full rounded-[8px] border border-primary-600 bg-primary-600 py-[10px] text-center font-medium leading-[24px] text-white dark:border-secondary-600 dark:bg-secondary-600 dark:text-neutral-900">
                        Submit
                    </button>
                </form>
            </div>
        </div>

        <div>
            <div
                class="rounded-[20px] border-2 border-neutral-400 bg-white dark:border-neutral-700 dark:bg-neutral-800">
                <div
                    class="flex items-center justify-between border-b border-neutral-400 px-[24px] dark:border-neutral-700">
                    <div class="flex flex-row items-center gap-2 py-[20px]">
                        <img :src="$store.preference.theme.isDark ? '{{ url_for('static', filename='static/static_template_v3/img/simplicity-icon-setting-inactive-3.png') }}' : '{{ url_for('static', filename='static/static_template_v3/img/simplicity-icon-setting-inactive.png') }}'"
                            width="18" height="18" alt="Users" />
                        <h1
                            class="rounded-t-[18px] text-[20px] font-medium leading-[30px] text-neutral-700 dark:border-neutral-700 dark:bg-transparent dark:text-white">
                            Server Information
                        </h1>
                    </div>
                    <!-- <div class="mb-[18px] mt-[12px] flex justify-end">
                        <button
                            class="flex items-center gap-[8px] rounded-[8px] border border-primary-600 bg-primary-600 px-[14px] py-[8px] dark:border-secondary-600 dark:bg-secondary-600">
                            <span class="text-[14px] font-medium leading-[20px] text-white dark:text-neutral-800">Add
                                Data</span>
                            <svg width="14" height="14" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path :fill="$store.preference.theme.isDark ? '#1F2937' : '#FFFFFF'" fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M10 2.5C10.1658 2.5 10.3247 2.56585 10.4419 2.68306C10.5592 2.80027 10.625 2.95924 10.625 3.125V9.375H16.875C17.0408 9.375 17.1997 9.44085 17.3169 9.55806C17.4342 9.67527 17.5 9.83424 17.5 10C17.5 10.1658 17.4342 10.3247 17.3169 10.4419C17.1997 10.5592 17.0408 10.625 16.875 10.625H10.625V16.875C10.625 17.0408 10.5592 17.1997 10.4419 17.3169C10.3247 17.4342 10.1658 17.5 10 17.5C9.83424 17.5 9.67527 17.4342 9.55806 17.3169C9.44085 17.1997 9.375 17.0408 9.375 16.875V10.625H3.125C2.95924 10.625 2.80027 10.5592 2.68306 10.4419C2.56585 10.3247 2.5 10.1658 2.5 10C2.5 9.83424 2.56585 9.67527 2.68306 9.55806C2.80027 9.44085 2.95924 9.375 3.125 9.375H9.375V3.125C9.375 2.95924 9.44085 2.80027 9.55806 2.68306C9.67527 2.56585 9.83424 2.5 10 2.5Z" />
                            </svg>
                        </button>
                    </div> -->
                </div>

                <div class="overflow-y-auto">
                    <table class="w-full table-auto">
                        <thead
                            class="border-b border-neutral-400 bg-neutral-200 dark:border-neutral-700 dark:bg-neutral-900">
                            <tr>
                                <td class="px-[24px] py-[13px]">
                                    <div class="flex items-center gap-[8px]">
                                        <span
                                            class="font-mediu text-[12px] leading-[18px] text-neutral-600 dark:text-[#99A3B6]">#</span>
                                        <img width="11" height="18" src="{{ url_for('static', filename='static/static_template_v3/img/simplicity-icon-sorter.png') }}"
                                            alt="" />
                                    </div>
                                </td>

                                <td class="px-[24px] py-[13px]">
                                    <div class="flex items-center gap-[8px]">
                                        <span
                                            class="font-mediu text-[12px] leading-[18px] text-neutral-600 dark:text-[#99A3B6]">Domain/ Server</span>
                                        <img width="11" height="18" src="{{ url_for('static', filename='static/static_template_v3/img/simplicity-icon-sorter.png') }}"
                                            alt="" />
                                    </div>
                                </td>

                                <td class="px-[24px] py-[13px]">
                                    <div class="flex items-center gap-[8px]">
                                        <span
                                            class="font-mediu text-[12px] leading-[18px] text-neutral-600 dark:text-[#99A3B6]">Port</span>
                                        <img width="11" height="18" src="{{ url_for('static', filename='static/static_template_v3/img/simplicity-icon-sorter.png') }}"
                                            alt="" />
                                    </div>
                                </td>

                                <td class="px-[24px] py-[13px]">
                                    <div class="flex items-center gap-[8px]">
                                        <span
                                            class="font-mediu text-[12px] leading-[18px] text-neutral-600 dark:text-[#99A3B6]">Ping</span>
                                        <img width="11" height="18" src="{{ url_for('static', filename='static/static_template_v3/img/simplicity-icon-sorter.png') }}"
                                            alt="" />
                                    </div>
                                </td>

                                <td class="px-[24px] py-[13px]">
                                    <div class="flex items-center gap-[8px]">
                                        <span
                                            class="font-mediu text-[12px] leading-[18px] text-neutral-600 dark:text-[#99A3B6]">Action</span>
                                        <img width="11" height="18" src="{{ url_for('static', filename='static/static_template_v3/img/simplicity-icon-sorter.png') }}"
                                            alt="" />
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-neutral-400 dark:divide-neutral-700">
                            {% for server in server_list %}
                            <tr>
                                <td
                                    class="whitespace-nowrap px-[24px] py-[16px] text-[14px] leading-[20px] dark:text-white">
                                    {{ loop.index }}
                                </td>
                                <td
                                    class="whitespace-nowrap px-[24px] py-[16px] text-[14px] leading-[20px] dark:text-white">
                                    {{ server.domain }}
                                </td>
                                <td
                                    class="whitespace-nowrap px-[24px] py-[16px] text-[14px] leading-[20px] dark:text-white">
                                    {{ server.port }}
                                </td>
                                <td
                                    class="whitespace-nowrap px-[24px] py-[16px] text-[14px] leading-[20px] dark:text-white">
                                    Click Me
                                </td>
                                <td
                                    class="whitespace-nowrap px-[24px] py-[16px] text-[14px] leading-[20px] dark:text-white">
                                    <button class="p-[10px]">
                                        <img width="20" height="20" src="{{ url_for('static', filename='static/static_template_v3/img/simplicity-icon-trash.png') }}"
                                            alt="Delete" />
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}