{% extends "base_template/base_merge_template_v3/base.html" %}
{% block content %}
<div class="min-h-screen">
  <div class="mb-[24px]">
    <ul class="flex flex-row gap-[4px]">
      <li class="text-[24px] font-normal leading-[32px] text-neutral-600 dark:text-[#99A3B6]">
        Application
      </li>

      <li class="mx-[7px] text-[18px] font-semibold leading-[28px] text-secondary-600 dark:text-[#99A3B6]">
        /
      </li>

      <li class="text-[24px] font-normal leading-[32px] text-neutral-600 dark:text-[#99A3B6]">
        Power AD Connection
      </li>

      <li class="mx-[7px] text-[18px] font-semibold leading-[28px] text-secondary-600 dark:text-[#99A3B6]">
        /
      </li>

      <li class="text-[24px] font-bold leading-[32px] text-primary-600 dark:text-secondary-600">
        AD Account Queue
      </li>
    </ul>
  </div>

  <div class="rounded-[20px] border-2 border-neutral-400 bg-white dark:border-neutral-700 dark:bg-neutral-800">
    <div class="flex items-center justify-between border-b border-neutral-400 px-[24px] dark:border-neutral-700">
      <div class="flex flex-row items-center gap-2 py-[20px]">
        <img
          :src="$store.preference.theme.isDark ? '{{ url_for('static', filename='static/static_template_v3/img/simplicity-icon-user-plus-2.png') }}' : '{{ url_for('static', filename='static/static_template_v3/img/simplicity-icon-user-plus.png') }}'"
          width="18" height="18" alt="Users" />
        <h1
          class="rounded-t-[18px] text-[20px] font-medium leading-[30px] text-neutral-700 dark:border-neutral-700 dark:bg-transparent dark:text-white">
          Ad Account Queue
        </h1>
      </div>
      <div class="mb-[18px] mt-[12px] flex justify-end">
        <div
          class="flex items-center gap-[8px] rounded-[8px] border border-neutral-400 bg-white px-[14px] py-[8px] disabled:bg-neutral-500 dark:border-neutral-700 dark:bg-neutral-900">
          <div></div>
          <input
            class="flex-grow bg-transparent leading-[24px] text-neutral-900 outline-none placeholder:text-[#99A3B6] disabled:cursor-not-allowed dark:text-white"
            id="" name="" type="text" placeholder="Search" value="" />
        </div>
      </div>
    </div>

    <div class="overflow-y-auto">
      <table class="w-full table-auto">
        <thead class="border-b border-neutral-400 bg-neutral-200">
          <tr>
            <td class="px-[24px] py-[13px]">
              <div class="flex items-center gap-[8px]">
                <span class="text-[12px] font-medium leading-[18px] text-neutral-600">
                  No
                </span>
                <img width="11" height="18"
                  src="{{ url_for('static', filename='static/static_template_v3/img/simplicity-icon-sorter.png') }}"
                  alt="Sorter" />
              </div>
            </td>
            <td class="px-[24px] py-[13px]">
              <div class="flex items-center gap-[8px]">
                <span class="text-[12px] font-medium leading-[18px] text-neutral-600">
                  Name
                </span>
                <img width="11" height="18"
                  src="{{ url_for('static', filename='static/static_template_v3/img/simplicity-icon-sorter.png') }}"
                  alt="Sorter" />
              </div>
            </td>
            <td class="px-[24px] py-[13px]">
              <div class="flex items-center gap-[8px]">
                <span class="text-[12px] font-medium leading-[18px] text-neutral-600">
                  Username
                </span>
                <img width="11" height="18"
                  src="{{ url_for('static', filename='static/static_template_v3/img/simplicity-icon-sorter.png') }}"
                  alt="Sorter" />
              </div>
            </td>
            <td class="px-[24px] py-[13px]">
              <div class="flex items-center gap-[8px]">
                <span class="text-[12px] font-medium leading-[18px] text-neutral-600">
                  Department
                </span>
                <img width="11" height="18"
                  src="{{ url_for('static', filename='static/static_template_v3/img/simplicity-icon-sorter.png') }}"
                  alt="Sorter" />
              </div>
            </td>
            <td class="px-[24px] py-[13px]">
              <div class="flex items-center gap-[8px]">
                <span class="text-[12px] font-medium leading-[18px] text-neutral-600">
                  Position
                </span>
                <img width="11" height="18"
                  src="{{ url_for('static', filename='static/static_template_v3/img/simplicity-icon-sorter.png') }}"
                  alt="Sorter" />
              </div>
            </td>
            <td class="px-[24px] py-[13px]">
              <div class="flex items-center gap-[8px]">
                <span class="text-[12px] font-medium leading-[18px] text-neutral-600">
                  Email
                </span>
                <img width="11" height="18"
                  src="{{ url_for('static', filename='static/static_template_v3/img/simplicity-icon-sorter.png') }}"
                  alt="Sorter" />
              </div>
            </td>
            <td class="px-[24px] py-[13px]">
              <div class="flex items-center gap-[8px]">
                <span class="text-[12px] font-medium leading-[18px] text-neutral-600">
                  Action
                </span>
                <img width="11" height="18"
                  src="{{ url_for('static', filename='static/static_template_v3/img/simplicity-icon-sorter.png') }}"
                  alt="Sorter" />
              </div>
            </td>
          </tr>
        </thead>
        <tbody class="divide-y divide-neutral-400">
          {% for user in users_from_ad %}
          <tr>
            <td class="whitespace-nowrap px-[24px] py-[16px] text-[14px] leading-[20px] dark:text-white">{{ loop.index
              }}</td>
            <td class="whitespace-nowrap px-[24px] py-[16px] text-[14px] leading-[20px] dark:text-white">{{
              user.lastname }}</td>
            <td class="whitespace-nowrap px-[24px] py-[16px] text-[14px] leading-[20px] dark:text-white">{{
              user.username }}</td>
            <td class="whitespace-nowrap px-[24px] py-[16px] text-[14px] leading-[20px] dark:text-white">{{
              user.department }}</td>
            <td class="whitespace-nowrap px-[24px] py-[16px] text-[14px] leading-[20px] dark:text-white">{{
              user.position }}</td>
            <td class="whitespace-nowrap px-[24px] py-[16px] text-[14px] leading-[20px] dark:text-white">{{
              user.email_domain }}</td>
            <td class="whitespace-nowrap px-[24px] py-[16px] text-[14px] leading-[20px] dark:text-white"><a
                href="{{ url_for('powerad.export_user', username=user.username) }}">Export</a></td>
            <!-- <td colspan="7">
                <div class="py-4">
                  <div class="flex flex-col items-center justify-center gap-[13px]">
                    <img src="{{ url_for('static', filename='static/static_template_v3/img/simplicity-illustration-not-found.png') }}" height="100" width="82.94" />
                    <p class="font-medium leading-[44px] text-neutral-600 dark:text-[#99A3B6]">
                      No account found...
                    </p>
                  </div>
                </div>
              </td> -->
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="border-t border-neutral-400 dark:border-neutral-700">
      <!-- Pagination -->
      <div class="flex items-center justify-between px-[12px] pb-[16px] pt-[11px]">
        <div class="flex rounded-[8px] border border-neutral-400 dark:border-neutral-700 dark:bg-neutral-900">
          <button
            class="flex h-[40px] w-[40px] items-center justify-center border-r border-neutral-400 last:border-none dark:border-neutral-700">
            <img class="min-h-[20px] max-w-[20px]"
              :src="$store.preference.theme.isDark ? '{{ url_for('static', filename='static/static_template_v3/img/simplicity-icon-arrow-left-dark.png') }}' : '{{ url_for('static', filename='static/static_template_v3/img/simplicity-icon-arrow-left.png') }}'"
              width="20" height="20" alt="Previous page" />
          </button>
          <button
            class="flex h-[40px] w-[40px] items-center justify-center border-r border-neutral-400 last:border-none dark:border-neutral-700">
            <p class="text-[14px] font-medium leading-[20px] text-neutral-700 dark:text-white">
              1
            </p>
          </button>
          <button
            class="flex h-[40px] w-[40px] items-center justify-center border-r border-neutral-400 last:border-none dark:border-neutral-700">
            <p class="text-[14px] font-medium leading-[20px] text-neutral-700 dark:text-white">
              2
            </p>
          </button>
          <button
            class="flex h-[40px] w-[40px] items-center justify-center border-r border-neutral-400 last:border-none dark:border-neutral-700">
            <p class="text-[14px] font-medium leading-[20px] text-neutral-700 dark:text-white">
              3
            </p>
          </button>
          <button
            class="flex h-[40px] w-[40px] items-center justify-center border-r border-neutral-400 last:border-none dark:border-neutral-700">
            <p class="text-[14px] font-medium leading-[20px] text-neutral-700 dark:text-white">
              ...
            </p>
          </button>
          <button
            class="flex h-[40px] w-[40px] items-center justify-center border-r border-neutral-400 last:border-none dark:border-neutral-700">
            <p class="text-[14px] font-medium leading-[20px] text-neutral-700 dark:text-white">
              10
            </p>
          </button>
          <button
            class="flex h-[40px] w-[40px] items-center justify-center border-r border-neutral-400 last:border-none dark:border-neutral-700">
            <img class="min-h-[20px] max-w-[20px]"
              :src="$store.preference.theme.isDark ? '{{ url_for('static', filename='static/static_template_v3/img/simplicity-icon-arrow-right-dark.png') }}' : '{{ url_for('static', filename='static/static_template_v3/img/simplicity-icon-arrow-right.png') }}'"
              width="20" height="20" alt="Next page" />
          </button>
        </div>
        <div class="flex items-center gap-[16px]">
          <p class="leading-[24px] dark:text-white">Go to</p>
          <form>
            <input
              class="max-w-[49px] rounded-[8px] border border-neutral-400 px-[14px] py-[8px] outline-none dark:border-neutral-700 dark:bg-neutral-900 dark:text-white"
              type="text" />
          </form>
        </div>
      </div>
      <!-- End of Pagination -->
    </div>
  </div>
</div>
<!-- flash -->
{% with errors = get_flashed_messages(category_filter=["ready"]) %}
{% if errors %}
<script>
  alert(`{{ errors[0] }}`)
</script>
{% endif %}
{% endwith %}
<!-- endflash -->
{% endblock content %}